body {
  background-color: rgb(190, 102, 2);
}

header {
  #top-title {
    border-bottom: solid black 2px;
    color: rgb(255, 230, 0);
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: Hiragino Kaku Gothic StdN;
  }
}

#caution-text {
  text-align: center;
  margin: 250px 0;
  h2 {
    color: red;
    font-size: 25px;
    font-family: Hiragino Kaku Gothic StdN;
    padding-bottom: 10px;
  }
}

.illustration {
  img {
    width: 100%;
    height: 1000px;
  }
}

.contents {
}

#profile {
  border: solid 5px black;
  text-align: center;
  padding: 30px;
  margin: 10px 10px 0 10px;
  h2 {
    font-size: 30px;
  }
}

#character {
  border: solid 5px black;
  text-align: center;
  padding: 30px;
  margin: 10px 10px;
  h2 {
    font-size: 30px;
  }
}

#episode {
  border: solid 5px black;
  text-align: center;
  padding: 30px;
  margin: 0 10px 0 10px;
  h2 {
    font-size: 30px;
  }
}

footer {
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .illustration {
    img {
      width: 100%;
      height: 500px;
    }
  }

  #caution-text {
    text-align: center;
    margin: 50px 0;
    p {
      font-size: 15px;
    }
  }

  footer {
    padding: 20px;
    text-align: center;
  }
}
