body {
  background-color: rgb(190, 102, 2);
}

header {
  .top-title {
    border-bottom: solid black 2px;
    color: rgb(255, 230, 0);
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: Hiragino Kaku Gothic StdN;
  }
}

#caution-text {
  text-align: center;
  margin: 250px 0;
  h2 {
    color: red;
    font-size: 25px;
    font-family: Hiragino Kaku Gothic StdN;
    padding-bottom: 10px;
  }
}

.contents {
  img {
    width: 100%;
    height: 1000px;
  }
}

footer {
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .contents {
    img {
      width: 100%;
      height: 500px;
    }
  }

  #caution-text {
    text-align: center;
    margin: 300px 0;
  }

  footer {
    padding: 20px;
    text-align: center;
  }
}
